.header {
  text-align: center;
  background-color: rgb(230, 195, 143);
  color: saddlebrown;
  font-weight: bold;
  font-family: Trattatello, fantasy;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review {
  text-align: center;
  background-color: rgb(230, 195, 143);
  color: saddlebrown;
  border: 0ch;
  border-color: dashed saddlebrown;
}

.nav {
  float: center;
  display: block;
  color: saddlebrown;
  text-align: center;
  padding: "10px; margin: 10px";
  text-decoration: none;
  background-color: rgb(230, 195, 143);
  word-spacing: 5px;
}
.image {
  width: 80%;
  background-color: rgb(199, 163, 163);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}

.primaryContainer {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  min-width: 0;
  max-width: none;
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.rating {
  text-align: center;
}
